.ppaCard {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 1em;
  padding: 0.5em 0.75em;
  border-radius: 0.5rem;
  cursor: pointer;
  height: 90%;
  position: relative;
  top: 0;
  transition: top ease 0.5s;

  &:hover {
    top: -10px;
  }

  &Button{
    margin: 1rem 0;
  }
}

.rowGutter {
  margin: 0.35rem 0;
}
