.ppaCard {
  position: relative;
  top: 0;
  height: 95%;
  padding: 0.5em 0.75em;
  margin: 1em;
  border-radius: 0.5rem;
  box-shadow: rgb(0 0 0 / 24%) 0 3px 8px;
  cursor: pointer;
  transition: top ease 0.5s;

  &:hover {
    top: -10px;
  }

  &Button {
    margin: 1rem 0;
  }
}

.rowGutter {
  margin: 0.35rem 0;
}
