.filterrow {
  margin-bottom: 3%;
  color: rgb(90 90 90);
}

.filterrow h3 {
  color: rgb(90 90 90);
}

.filter {
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: rgb(250 250 250);
  background-image: url('../../assets/images/backgrounds/green_top.png');
  background-size: cover;
}

.text {
  padding-bottom: 2%;
  padding-left: 1%;
  background-color: rgb(250 250 250);
  color: rgb(37 37 37);
}

.headline {
  padding-bottom: 1%;
  padding-left: 1%;
}

.headline h2 {
  color: rgb(37 37 37);
}
