.supplierdashboard {
  width: 100%;
  height: calc(100vh - 72px);
  padding: 20px;
  background-color: rgb(255 255 255);
  background-image: url('../../assets/images/backgrounds/green_ten.png');
  background-position: center;
  background-size: cover;
}

.navigation {
  display: flex;
  width: 80%;
  justify-content: space-between;
  padding-top: 2%;
}

.form h2 {
  padding-top: 3%;
  padding-bottom: 2%;
}
