.ppaoverview {
  width: 100%;
  height: calc(100vh - 72px);
  padding: 20px;
  background-color: rgb(255 255 255);
  background-image: url('../../assets/images/backgrounds/green_ten.png');
  background-position: center;
  background-size: cover;
}

.revenueCardContainer {
  padding: 1rem 3rem;
}

.ppaInfo {
  padding: 0 1.25rem;
}

// media query trigger smaller than 420px width
@media screen and (max-width: 420px) {
  .revenueCardContainer {
    padding: 1rem;
  }
}
