.footer {
  width: 100%;
  background-color: rgb(255, 255, 255);
  padding: 3rem 1rem;
}

.footer .container {
  max-width: 1240px;
  margin: auto;
  text-align: center;
  display: block;
}

.footer p {
  font-size: 1rem;
  font-weight: 700;
  color: rgb(90, 90, 90);
}

.footer ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.footer ul li {
  padding: 1rem;
}

.footer li a {
  color: rgb(90, 90, 90);
}
